[build]
rustflags = [
  "-C", "target-cpu=native",
  "-C", "opt-level=3",
  "-C", "lto=fat",
  "-C", "link-arg=-Wl,--gc-sections",
  "-C", "strip=symbols",
  "-C", "link-arg=-Wl,-z,relro,-z,now",
  "-C", "link-arg=-Wl,-z,noexecstack",
]

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
panic = "abort"
strip = "symbols"

[target.x86_64-unknown-linux-musl]
rustflags = [
  "-C", "target-feature=+crt-static",
  "-C", "link-arg=-Wl,--gc-sections",
  "-C", "strip=symbols",
  "-C", "link-arg=-Wl,-z,relro,-z,now",
  "-C", "link-arg=-Wl,-z,noexecstack",
]
